nav {
  background-color: #000;
  color: #e9eff0;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  
}

.title {
  	text-align: left;
    font-weight: bold;
    padding: 15px 5px 5px 15px;
}

.nav-button {
	padding: 25px 5px 5px 15px;
}